.header{
  padding:0 30px;

}

.user-tabs ul{
  list-style-type:none;
  display: flex;
  align-items: center;
  justify-content: right;
  float:right;
  padding-left:0;
  margin-bottom:0;
}

.user-tabs li{
  padding:20px 0px 20px 40px;
}

.user-tabs img{
  border-radius: 50%;
}




.search-container{
  padding:0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.user-tabs{
  padding:0;
}

.search-container input{
  width: 79%;
  padding:10px 20px;
  border: 0;
  float:left;
  background:$gray;

}

.header{
  display:flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.1);
  background: white;
}

.bold-text{
  font-weight:bold;
}

.user-tabs li a{
  text-decoration:none;
  color: $middle-blue;
}

li.user-elements.user-avatar{
  padding-left: 15px;
}

@media screen and (max-width: 1305px){
  .hidden-tab{
    display:none;
  }
}

@media screen and (max-width: 768px){
  .user-tabs ul {
    justify-content: space-between;
    float: none;
  }


  .search-container input{
    margin-top:20px;
    margin-bottom:10px;
    width: 100%;
  }

  .user-tabs ul{
    margin-bottom:20px;
  }

  .user-tabs li {
    padding: 10px 0px 10px 20px;
  }

  .header{
    display: block ;

  }
}

//Dropdown button
.open > .dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}

.dropdown-menu {
  left: -110px;
  .dropdown-item:hover {
    text-decoration: underline;
  }
  .dropdown-item:first-child {
    color: black;
  }
  .dropdown-item:first-child:hover {
    background-color: transparent;
    cursor: auto;
    text-decoration: none;
  }
}

//Modal
.modal {
  label {
    margin-bottom: 15px;
  }
}

//Handling errors
#save-error {
  list-style-type: none;
  padding-left: 0;

  li {
    color: red;
  }
}

//Avatar upload
.avatar-upload {
  max-height: 100px;
}

//Header Avatar
.header-avatar {
  max-height: 50px;
}

.header-success {
  color: #6cedc3;
}

.campaign-trigger:hover {
  cursor: pointer;
}

.candidate-trigger:hover {
  cursor: pointer;
}